In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [2]:
# Load the dataset
movies_df = pd.read_csv("C:\\Users\\manoj\\Desktop\\Mini_Project\\project.csv")

In [9]:
movies_df.head()

,ID,Name,Genre,Language,Name_cleaned
0,tt15354916,Jawan,"Action, Thriller",Hindi,jawan
1,tt15748830,Jaane Jaan,"Crime, Drama, Mystery",Hindi,jaane jaan
2,tt11663228,Jailer,"Action, Comedy, Crime",Hindi,jailer
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"Comedy, Drama, Family",Hindi,rocky aur rani kii prem kahaani
4,tt15732324,OMG 2,"Comedy, Drama",Hindi,omg 2

In [10]:
movies_df.tail()

,ID,Name,Genre,Language,Name_cleaned
2496,tt2385227,Sunrise,"Crime, Mystery, Drama",Marathi,sunrise
2497,tt4794158,Sanwad,"Horror, Mystery, Romance, Drama",Marathi,sanwad
2498,tt6912558,FU: Friendship Unlimited,"Musical, Comedy, Family, Romance",Marathi,fu: friendship unlimited
2499,tt4473386,Gadbad Gondhal,"Drama, Family, Romance",Marathi,gadbad gondhal
2500,tt7430788,Gotya,"Drama, Family, Sport",Marathi,gotya

In [3]:
# Clean the dataset
# Fill missing values in 'Genre' and 'Language'
movies_df['Genre'] = movies_df['Genre'].fillna('')
movies_df['Language'] = movies_df['Language'].fillna('')

In [4]:
# Create a new column with lowercase movie names for case-insensitive matching
movies_df['Name_cleaned'] = movies_df['Name'].str.lower()

In [5]:
# Vectorize the 'Genre' column
count_vectorizer = CountVectorizer()
count_matrix = count_vectorizer.fit_transform(movies_df['Genre'])

In [6]:
# Compute the cosine similarity matrix based on the 'Genre'
cosine_sim = cosine_similarity(count_matrix)

In [7]:
# Save cleaned data and cosine similarity matrix using Pickle
# Ensure the paths match those used in your Flask app
with open('cleaned_movie_list.pkl', 'wb') as f:
    pickle.dump(movies_df, f)

with open('genre_similarity.pkl', 'wb') as f:
    pickle.dump(cosine_sim, f)

print("Data cleaned and saved successfully.")

Data cleaned and saved successfully.